.list{
    min-height: 300px;
    position: relative;
}

.help{
    border: 1px white dashed;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: #1C1C21;
    opacity: 0.85;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.price{
    display: flex;
    align-items: center;
}

.price svg{
    width: 36px;
    height: 36px;
}
