.orders{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 36px;
    padding-top: 96px;
}

.green{
    color: #0CC !important;
}

.white{
    color: #F2F2F3;
}

.list{
    columns: 5;
    -webkit-columns: 5;
    -moz-columns: 5;
    padding: 0;
    margin: 0;
}

.list li{
    list-style-type: none;
}