.card{
    height: 208px;
    position: relative;
    cursor: pointer;
}

.img{
    display: flex;
    justify-content: center;
}

.img img{
    max-width: 100%;
    max-height: 100%;
}

.price{
    display: flex;
    justify-content: center;
    align-items: center;
}

.value{
    margin-right: 10px;
    color: white;
    text-decoration: none;
}

.name{
    text-align: center;
}

.name h4{
    overflow-wrap: break-word;
    margin: 0;
    color: white;
    text-decoration: none;
}
